body {
    background-color: coral;
    font-family: Lato;
    color: white;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

.navigation {
    display: flex;
    width: 700px;
    justify-content: space-around;
}

.light-letter-container {
    color: lightgrey;

}

.bf-title {
    display: flex;
    justify-content: center;
}

.ingredient-number {
    height: 100px;
    width: 100px;
    padding: 5px;
    background-color: pink;
    border-radius: 75%;
    display: inline;
}